/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .italic {
    font-style: italic;
  }
  
  .underline {
    text-decoration: underline;
  }
  
  .strike {
    text-decoration: line-through;
  }
  
  .sub,
  .sup,
  .small,
  .medium,
  .large {
    font-size: 0.8em;
  }
  
  .sup {
    vertical-align: super;
  }
  
  .sub {
    vertical-align: sub;
  }
  
  .medium {
    font-size: 1em;
  }
  
  .large {
    font-size: 2.5em;
  }
  
  /* Text alignment */
  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }
  
  .center {
    text-align: center;
  }
  
  .justify {
    text-align: justify;
  }
  
  /* Links */
  .link {
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  /* Horizontal Rule */
  .hr {
    border: 0;
    height: 1px;
    background-color: #000;
    margin: 1em 0;
    width: 100%;
    opacity: 0.5;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  /* Lists */
  .center-list {
    text-align: center;
    list-style-type: none;
  }
  
  .list {
    list-style-type: circle;
  }
  
  .list-item {
    margin: 0.25em 0;
  }
  